.form {
    width: 400px;
    margin: 140px auto 110px;
  }
  body
   {
    background-image: url("../images/signupbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }